<!doctype html>
<html lang="en">
<head>
  <title>FoodRanger</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="container">
    <p> Welcome to FoodRanger! </p>
    <a class="button">I WANT FOOD</a>
    <a class="button">I HAVE FOOD</a>
  </div>
</body>

</html>
