<!doctype html>
<html lang="en">
<head>
  <title>FoodRanger</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="container">
    <h1>Here are some restaurants near you!</h1>
    <div class="button-container">
      <% Object.keys(restaurants).forEach(function (rest) { %>
        <a class="button" id="<%=rest %>" data-location="<%=restaurants[rest].location%>" href="#"><%= restaurants[rest].name %><br>restaurants[rest].food</a>
      <% }) %>
    </div>
  </div>
</body>

</html>
